body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
    line-height: 2;

}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}

p{
    line-height: 2;
}

.top-container{
    background-color:#EAF6F6;
    position:relative;
    padding-top: 100px;
       
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
    
}

.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

.middle-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}

.program{
    font-size: 2.5rem;
}

a{
    color:#11999E;
}

.image-comp{
    width:25%;
    float:left;
    margin-right: 30px;
}

.image-mike{
    width:25%;
    float:right;
    margin-right: 30px;
}

.bottom-container{
    background-color: #66BFBF;
    position: absolute;
    width: 100%;
}

.footer-link{
    color:#11999E;
    font-size: 80%;
    font-family: 'Merriweather', serif;
    margin: 50px 30px;
    position:relative;
    top:30px;
    text-decoration: none;
    
}

.footer-link:hover{
    color:white;
}

.copyright{
    color: #EAF6F6;
    font-size: 70%;
    padding-top: 50px;
    font-size: 0.75rem;
}

.profpic{
    height: 200px;
    width: 200px;
}

.middle-container{
    font-size: 70%;
    margin:100px 0;
}

.intro{
    width: 50%;
    text-align: center;
    position:relative;
    margin: 100px auto 100px auto;

}

.btn{
    color: white;
    background-color: #11999E;
    padding:20px;
}

.line{
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: grey;
    width: 5%;
    margin:100px auto;
}

.btn {
    background: #0b2638;
    background-image: -webkit-linear-gradient(top, #0b2638, #2980b9);
    background-image: -moz-linear-gradient(top, #0b2638, #2980b9);
    background-image: -ms-linear-gradient(top, #0b2638, #2980b9);
    background-image: -o-linear-gradient(top, #0b2638, #2980b9);
    background-image: linear-gradient(to bottom, #0b2638, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .contacth3{
    width:50%;
    margin: auto;
  }

  .tech-img{
    width: 12%;
    padding-top: 50px;
    padding: 5%;
  }



